.card-text-container{
    color: black;
    padding: 20px;
}

.change-pass-title{
    margin-bottom: 20px;
}

.form-lable{
    font-size: 17px;
    color: #767676;
    font-weight: 500;
}

.current-password-form i{
    position: absolute;
    right: 45px;
    top: 105px
}

.new-password-form i{
    position: absolute;
    right: 45px;
    top: 193px
}

.new-password-again-form i{
    position: absolute;
    right: 45px;
    top: 280px
}

.change-password-btn{
    padding: 16px 24px;
    font-size: 17px;
    font-weight: 500;
    margin-top: 7px;
}